@media (max-width: 800px) {
	.layout {
		grid-template-areas:
			"header"
			"content"
			"footer";
	}
}

@media (min-width: 801px) {
	.layout {
		grid-template-areas:
			"header content"
			"footer footer";
	}
}

.layout {
	margin: 5%;
	max-width: 1080px;
	display: grid;
	gap: 50px;
}

.layout header {
	grid-area: header;
}

.layout main {
	grid-area: content;
	display: flex;
	flex-flow: column;
	gap: 2rem;
}

.layout footer {
	grid-area: footer;
}
