.eduCard {
	display: grid;
	align-items: baseline;
}

.eduCard h2 {
	grid-area: title;
}

.eduCard p:first-of-type {
	grid-area: time;
}

.eduCard p:last-of-type {
	grid-area: school;
}

@media (max-width: 550px) {
	.eduCard {
		grid-template-areas:
			"title"
			"time"
			"school";
	}

	.eduCard p:first-of-type {
		text-align: start;
		margin: 0.5rem 0;
	}
}

@media (min-width: 551px) {
	.eduCard {
		grid-template-areas:
			"title time"
			"school school";
	}
	.eduCard p:first-of-type {
		text-align: end;
	}
}
