.project header {
	display: grid;
	align-items: baseline;
}

.project header h3 {
	grid-area: title;
	text-transform: capitalize;
}

.project header p:first-of-type {
	grid-area: time;
	text-align: end;
}

.project header p:last-of-type {
	grid-area: company;
}

.project > p:first-of-type {
	margin-top: 1em;
}

.project a {
	display: inline-block;
	margin: 0.5rem 0;
}

@media (max-width: 700px) {
	.project header {
		grid-template-areas:
			"title"
			"time"
			"company";
	}

	.project header p:first-of-type {
		text-align: start;
		margin: 0.5rem 0;
	}
}

@media (min-width: 701px) {
	.project header {
		grid-template-areas:
			"title time"
			"company company";
	}

	.project header p:first-of-type {
		text-align: end;
	}
}
