@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto:wght@300&display=swap");

:root {
	--header-color: #054934;
	--text-color: #01261a;
	--selection-color: #60c4a4;
	--background: #efefef;
}

::-moz-selection,
::selection {
	background-color: var(--selection-color);
}

html,
body {
	background-color: var(--background);
}

* {
	font-family: "Roboto", sans-serif;
	color: var(--text-primary);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	color: var(--header-color);
}

svg {
	display: inline-flex;
	bottom: 0.15rem;
	position: relative;
	margin-right: 0.25em;
}
